body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: snow;
}

h5 {
  color: snow;
}

div.col-lg-12 {
  margin-bottom: -60px;
  opacity: 70%;
}

#user-entry-09 {
  color: snow;
}
#user-entry-10 {
  color: snow;
}
#user-entry-11 {
  color: snow;
}
#user-entry-12 {
  color: snow;
}
#user-entry-13 {
  color: snow;
}
#user-entry-14 {
  color: snow;
}
#user-entry-15 {
  color: snow;
}
#user-entry-16 {
  color: snow;
}
#user-entry-17 {
  color: snow;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.btn {
  float: right;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}